body {
  font-size:15px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
 


/*background: url('https://source.unsplash.com/twukN12EN7c/1920x1080');
/*background: url('https://source.images.app.goo.gl/Ny52UTdt6VYCBA8g7') ;*/
  background-image: url('../assets/images/train2.jpg');
    -webkit-background-size:100%;
    -moz-background-size: 100%;
    background-size:100%;
    -o-background-size:100%;
    margin-bottom: 0%;
    background-size: cover;
    
    background-repeat:repeat;
    background-position: top;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 20px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  width: 12%;

}

.sidebar-sticky {
  position:relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  font-size: 20px;
  border: crimson;
 
  
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../assets/images/train1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
 
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}
.sidebar .nav-link:hover{
    background-color: purple;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */
 
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
