<div class="container">
        <div class="container">
           <div class="container">
     <form class="needs-validation" novalidate>
             <div class="form-row">
              
                     <!--div class="form-group col-md-6">
                             <label for="inputName">Train Name</label>
                             <input type="text" class="form-control" id="inputName" placeholder="Enter Name" name="name" [(ngModel)]="TrainName">
                           </div-->

                           <div class="form-group" style="margin-right: 70%; width: 30%; margin-top: 10%;">
                                <label for="exampleSelect1">Train Name</label>
                                <select class="form-control" id="exampleSelect1"  name="type"  [(ngModel)]="TrainName" required>
                                  
                                  <option *ngFor="let train of traindetails">{{train.TrainName}}/  TrainNo: T00{{train.TrainNo}}</option>
                                  
                                  
                                </select>
                                <div class="invalid-feedback">Please Select a name</div>
                              </div>
                              

                           <div class="form-group" style="margin-right:70%;  width: 30%;">
                                <label for="exampleSelect1">Start Station</label>
                                <select class="form-control" id="exampleSelect1" name="type" [(ngModel)]="StartStation" required>
                                  <option>Fort</option>
                                      <option>Galle</option>
                                      <option>Matara</option>
                                      <option>Kandy</option>
                                      <option>Anuradhapura</option>
                                      
                                  
                                </select>
                                <div class="invalid-feedback">Please Select a station</div>
                              </div>
                              

              
                              <div class="form-group" style="margin-right:70%; width: 30%;">
                                    <label for="exampleSelect2">End Station</label>
                                    <select class="form-control" id="exampleSelect2" name="class" [(ngModel)]="EndStation" required>
                                      <option>Fort</option>
                                      <option>Galle</option>
                                      <option>Matara</option>
                                      <option>Kandy</option>
                                      <option>Anuradhapura</option>
                                      
                                    </select>
                                    <div class="invalid-feedback">Please Select a station</div>
                                  </div>
                                 
                                  <div class="form-group" style="margin-right:80%; width: 20%;">
                                        <label for="exampleSelect2">Date</label>
                                        <input type="date" name="date" max="3000-12-31" 
                                               min="" class="form-control" [(ngModel)]="Date" required>
                                               <div class="invalid-feedback">Please Select a Date</div>
                                       </div>       
                                       

                                       <div class="form-group" style="margin-right:10%; width: 20%">
                                       <label>Start Time</label>
                                       <input type="time" name="starttime" class="form-control" [(ngModel)]="StartTime" required>
                                       <div class="invalid-feedback">Please Select a Time</div>
                                    </div>
                                    

                                    <div class="form-group" style="margin-right:20%; width: 20%">
                                            <label>End Time</label>
                                            <input type="time" name="endtime" class="form-control" [(ngModel)]="EndTime" required>
                                            <div class="invalid-feedback">Please Select a Time</div>
                                         </div>
                                         
                                         
                                         <!--div class="form-group col-md-6">
                             <label for="inputName">Stops</label>
                             <input type="text" class="form-control" id="inputName" placeholder="" name="stops" >
                           </div-->
             
             
             </div>
             <button type="submit" class="btn btn-primary" style=" margin-top: 30px; margin-bottom: 20%;" (click)="save()">Save</button>
             <button type="button" class="btn btn-primary" style="margin-left: 20px; margin-top: 30px; margin-bottom: 20%;" routerLink="/train_shedule">Back</button>
             
           </form>
           </div>
         </div>
         </div>
         
     
