

<div class="container">
        <div class="container">
    <!--input type="text" style="border-block-width:px;" placeholder="Search here"-->
    <button type="button" class="btn btn-info" style="margin-left: 85%; margin-bottom: 20px; margin-top: 15%;" routerLink="/add_trainSchedule">+ ADD NEW SHEADULE</button>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            
            
            <th scope="col">Date</th>
            <th scope="col">Train Name</th>
            <th scope="col">Start Location</th>
            <th scope="col">End Location</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>

          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let trainS of trainshedule">
            
            
            <td><b>{{trainS.Date}}</b></td>
            <!--td>T-00{{TrainS.TrainNo}}</td-->
             <td><b>{{trainS.TrainName}}</b></td>
            <td><b>{{trainS.StartStation}}</b></td>
            <td><b>{{trainS.EndStation}}</b></td>
            <td><b>{{trainS.StartTime}}</b></td>
            <td><b>{{trainS.EndTime}}</b></td>
            <td><button type="button" class="btn btn-info" style="margin-left: 10px;"  [routerLink]="['/update_trainShedule',trainS.SheduleNo]">Edit</button>
           <button type="button" class="btn btn-danger" style="margin-left: 10px;" (click)="deleteTrainS(trainS.SheduleNo)">Delete</button></td> 
          </tr>
          
        </tbody>
    </table>
    </div>
    </div>
    <router-outlet></router-outlet>